.footer {
  background-color: rgb(44, 43, 43);
  height: 200px;
  width: 100%;
  text-align: center;
}

.footer p {
  color: rgb(107, 108, 108);
  text-align: center;
  font-size: 17px;
}

.footer .list-inline {
  display: inline;
  color: rgb(30, 221, 136);
  text-align: center;
}

.footer .list-inline li{
  display: inline-block;
  list-style: none;
  margin-top: 48px;
}

.footer a {
  color: rgb(30, 221, 136);
  font-weight: 200;
  text-decoration: none;
  padding: 8px 5px;
  font-size: 30px;
}

.footer a:hover {
  color: rgb(205, 242, 202);
}
.footer #coeur {
  color: red;
}
